.loginContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.loginContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 19px;
}

.CredentialBox {
  background-color: #f8f8f8;
}
