.optionsPortalContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 40px;
}

.optionCardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  font-family: Lato;
  z-index: 3;
  height: max-content;
  width: 150px;
  overflow: hidden;
  transition: max-height 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  max-height: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.optionCardContainer:hover {
  transition: 0.3s;
}

.optionCardContainer a {
  text-decoration: none;
  user-select: none;
}

.optionCardContainer.active {
  max-height: 400px;
  background-color: blue;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
