a {
  text-decoration: none;
  color: inherit;
}

.slider {
  cursor: grab;
}

.slider:active {
  cursor: grabbing;
}

.division-detail {
  content: " ";
  width: 70%;
  height: 1px;
  background-color: #00101f;
  z-index: 4;
}
