:root {
  --body-background-color: #e4e4e4;
  --title-font: "Noticia Text";
  --text-font: "Lato";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-relation="centralized"] {
  max-width: 1300px;
  margin: 0 auto;
}
